<div class="search-container">
  <%=form_tag search_path,method: :get,remote:true do%>
  <%= select_tag :genre,options_for_select(genres),prompt:'select genre'%>
<%= select_tag :order,options_for_select(order),prompt:'order'%>
<%= submit_tag "search"%>
  <%end%>
</div>

<div id="genres">
<%= render 'games/genres'%>


</div>
